.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notes-form {
  max-width: 600px;
  display: flex;
  margin: auto;
  flex-direction: column;
  box-shadow: #999 1px 1px 3px;
}

.form-panel {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #eee;
}

.form-text {
  text-align: justify;
  padding: 10px 20px;
}

.form-controller {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0px 10px;
}
